
// 评论区颜色重置
.gt-container
  .gt-ico-tip
    &::after
      content: '。( Win + . ) 或 ( ⌃ + ⌘ + ␣ ) 打开表情'
      color: #999
      font-size: .8rem
  .gt-meta
    border-color var(--borderColor)!important
  .gt-comments-null
    color var(--textColor)
    opacity .5
  .gt-header-textarea
    color var(--textColor)
    background rgba(180,180,180,0.1)!important
  .gt-btn
    border-color $accentColor!important
    background-color $accentColor!important
  .gt-btn-preview
    background-color rgba(255,255,255,0)!important
    color $accentColor!important
  a
    color $accentColor!important
  .gt-svg svg
    fill $accentColor!important
  .gt-comment-content,.gt-comment-admin .gt-comment-content
    background-color rgba(150,150,150,0.1)!important
    &:hover
      box-shadow 0 0 25px rgba(150,150,150,.5)!important
    .gt-comment-body
      color var(--textColor)!important


// qq徽章
.qq
  position: relative;
.qq::after
  content: "可撩";
  background: $accentColor;
  color:#fff;
  padding: 0 5px;
  border-radius: 10px;
  font-size:12px;
  position: absolute;
  top: -4px;
  right: -35px;
  transform:scale(0.85);

// demo模块图标颜色
body .vuepress-plugin-demo-block__wrapper
  &,.vuepress-plugin-demo-block__display
    border-color rgba(160,160,160,.3)
  .vuepress-plugin-demo-block__footer:hover
    .vuepress-plugin-demo-block__expand::before
      border-top-color: $accentColor !important;
      border-bottom-color: $accentColor !important;
    svg
      fill: $accentColor !important;

// 全文搜索框
.suggestions
  overflow: auto
  max-height: calc(100vh - 6rem)
  @media (max-width: 719px) {
    width: 90vw;
    min-width: 90vw!important;
    margin-right: -20px;
  }
  .highlight
    color: $accentColor
    font-weight: bold


// 修改字体
body{
  font-family: YouYuan;
}

// 去盒子阴影
.navbar {
  box-shadow: none;
}

//  设置简介字体楷体，加粗 ，大小,阴影
.description{
  font: bold 1.8rem KaiTi !important;
  text-shadow 2px 2px #9cb9b7;
}


// 底部样式
.footer {
  padding 8rem 0.5rem 2.5rem !important;
  font-weight: bold;
  font-size: 0.8rem !important;
}

// 首页features样式
.features{
  margin-top: 0 !important;
}

//  最小高度设置80屏幕高度，防止首页进度条
.theme-container {
  min-height: 100vh !important;
}

.avatar{
  //border-radius 50%;
}

.aplayer {
  --aplayerLeft: .3rem
  --aplayerBottom: 1.5rem
}


.aplayer-body{
    background:transparent !important;
    bottom: var(--aplayerBottom) !important;
    left: var(--aplayerLeft) !important;
}
.aplayer-miniswitcher{
  background:transparent !important;
}

.aplayer-pic{
  border-radius: 50% !important;
}


.aplayer.aplayer-fixed {
  position: fixed !important;
  bottom: 20px  !important;
  bottom: var(--aplayerBottom) !important;
  background: transparent  !important;
  border: none  !important;
}

.aplayer-list {
   border : none !important;
}

.aplayer-info {
  border : none !important;
}

.aplayer-pause {
  bottom: 22px !important;
  right: 22px !important;
}