name: CI

# 在master分支发生push事件时触发。
on: 
  push:
    branches:
      - master
jobs: # 工作流
  build:
    runs-on: ubuntu-latest #运行在虚拟机环境ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps: 
       # 步骤1
      - name: Checkout 
      # 使用的动作。格式：userName/repoName。作用：检出仓库，获取源码。 官方actions库：https://github.com/actions
        uses: actions/checkout@v1 
        # 步骤2
        # 作用：安装nodejs
      - name: Use Node.js ${{ matrix.node-version }} 
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }} # 版本

      - name: build
        run: npm install && yarn run build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GIT_PAGES_TOKEN }}
          publish_dir: ./docs/.vuepress/dist

        # 步骤3
#      - name: run deploy.sh
#        env: # 设置环境变量
#          GIT_PAGES_TOKEN: ${{ secrets.GIT_PAGES_TOKEN }} # toKen私密变量
#        run: npm install && npm run deploy # 执行的命令
